################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH
/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.opendb
/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.db-wal
/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.db-shm
/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.db
/.vs/IntroductionToProgrammingInCpp/v16/.suo
